<div class="success" style="border-radius: 25px;text-align: center; width: 500px; height: 300px; border: 1px solid black; margin: auto; margin-bottom: 20px; margin-top: 20px;">
    <h2 >Xin cảm ơn quý khách!!</h2>
    <img src="~/Content/images/true1.png" style="width:100px;height:150px" />
    <button type="button" style="background-color: palegreen; display: flex; cursor: pointer; flex-wrap: wrap; margin: auto; display: block; color: black; border-top: 3px 3px 3px 3px;margin-top:40px "> @Html.ActionLink("Xác nhận", "Index", "Home") </button>
</div>

