
@{
    ViewBag.Title = "Index";
}

<div class="main">
    <div class="content">
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/newsimg1.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>Kết nối hàng hóa vào kênh phân phối lớn </h3>
                <p>Hoạt động diễn ra trong chương trình Kết nối cung - cầu hàng hóa và Triển lãm Trà - Cà phê tỉnh Bình Dương năm 2022. Tại buổi kết nối, đại diện các siêu thị như AEON, Mega, Lotte đã gặp gỡ, xem xét hàng hóa của các doanh nghiệp, đơn vị sản xuất về quy trình, tiêu chuẩn và chất lượng. Trên cơ sở kinh nghiệm của các năm trước, các đơn vị OCOP đã cung cấp đầy đủ chứng nhận, tiêu chuẩn, quy trình sản xuất nhằm đáp ứng yêu cầu của siêu thị..</p>
                <p>Sau hoạt động này, đại diện các siêu thị đều đánh giá cao chất lượng hàng hóa của những sản phẩm tham gia kết nối cung - cầu năm 2022. Đơn vị phân phối sẽ xem xét cụ thể từng loại sản phẩm để có bảng đánh giá chi tiết gửi về từng doanh nghiệp, từ đó xúc tiến hoạt động ký kết thương mại đối với sản phẩm đạt yêu cầu. <a href="#" title="more">[....]</a></p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/newsimg2.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>Siêu thị, cửa hàng giảm giá sâu dịp cuối năm </h3>
                <p>
                    Các cửa hàng quần áo, giày dép giảm giá 40-70%, siêu thị cũng đồng loạt khuyến mãi hàng nghìn mặt hàng thiết yếu cho dịp cuối năm.

                    Hưởng ứng chương trình "Khuyến mãi tập trung 2022" từ ngày 15/11 đến 22/12, nhiều doanh nghiệp, siêu thị, cửa hàng tại TP HCM đua nhau giảm giá mạnh. Đây cũng là đợt khuyến mãi quy mô lớn nhất năm với mục tiêu kích cầu mua sắm.

                    Chiều 20/11, chị Minh Anh (Gò Vấp) đã chi ba triệu đồng để mua thực phẩm thiết yếu giảm giá của Co.opmart. "Tôi mua chai dầu ăn 5 lít, không những được giảm giá mà còn tặng thêm một chai dầu một lít. Các loại nước giặt và thực phẩm khác như sữa chua, nước tương... cũng giảm 10-30%", chị Anh nó
                </p>
                <p><b>Bên cạnh đó, thực phẩm, đồ uống, sữa trong các chuỗi cửa hàng, hệ thống siêu thị cũng đua nhau giảm giá.</b>Cụ thể, các hệ thống cửa hàng Bibomart, siêu thị Co.opmart, Big C, MM Mega Market, Winmart hay tại các trung tâm thương mại Gigamall, Emart, Vincom hầu hết đều treo biển giảm 50-80% nhiều mặt hàng.<a href="#" title="more">[....]</a></p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/Content/images/newsimg3.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>Ông Trần Bá Dương: 'Mục tiêu doanh thu tỷ USD với siêu thị Emart không khó' </h3>
                <p>
                    Người đứng đầu Thaco dự kiến năm 2026 có ít nhất 20 siêu thị Emart nên doanh thu một tỷ USD (khoảng 23.500 tỷ đồng) không khó.

                    Từ khi khai trương siêu thị đầu tiên vào cuối năm 2015, đến nay Emart vẫn chưa thể mở rộng mạng lưới ở Việt Nam. Tuy nhiên, trong buổi gặp đối tác cung cấp tối 5/8, ông Trần Bá Dương cho biết Thiso - công ty thành viên của Thaco, trực tiếp điều hành Emart sau thương vụ mua vốn năm ngoái - đang khẩn trương mở hai siêu thị tại Thủ Thiêm (TP Thủ Đức) và Phan Huy Ích (quận Gò Vấp) ngay tháng 10 và 12 tới.
                </p>
                <p>
                    Ông Dương khẳng định không lo ngại việc khó tìm mặt bằng phù hợp với quy mô đại siêu thị nên sẽ giữ nhịp độ phát triển hệ thống, "ít nhất một năm phải có 2-3 siêu thị mới".

                    Sau hai địa điểm đã công bố, người đứng đầu Thaco cho biết Emart có thể hiện diện ở quận Bình Tân, quận 7 trước khi đi ra các tỉnh thành khác. Đến năm 2026, số lượng siêu thị tối thiểu phải đạt 20 để đáp ứng thoả thuận nhượng quyền hợp tác đã ký với Emart Hàn Quốc.<a href="#" title="more">[....]</a>
                </p>
            </div>
        </div>
        <div class="content-pagenation">
            <ul>
                <li><a href="#">Frist</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><span>....</span></li>
                <li><a href="#">Last</a></li>
            </ul>
            <div class="clear"> </div>
        </div>
    </div>
</div>