@{
    ViewBag.Title = "Index";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Giới thiệu</h3>
                <img src="~/Content/images/about_img.jpg" alt="">
                <p>Trong những ngày đầu bán lẻ, nhìn chung, một trợ lý sẽ lấy sản phẩm từ các kệ phía sau quầy của người bán trong khi khách hàng đợi trước quầy, chỉ ra những mặt hàng họ muốn. Hầu hết các loại thực phẩm và hàng hóa không được đóng gói riêng lẻ theo kích cỡ của người tiêu dùng, vì vậy một trợ lý đã đo và gói số lượng chính xác mà người tiêu dùng yêu cầu. Điều này mang đến cơ hội giao tiếp xã hội: nhiều người coi phong cách mua sắm này là "một dịp xã hội" và thường "tạm dừng để trò chuyện với nhân viên hoặc khách hàng khác".[5] Những thực hành này về bản chất là chậm và có cường độ lao động cao và do đó cũng khá tốn kém. Số lượng khách hàng có thể phục vụ cùng một lúc bị giới hạn bởi số lượng nhân viên làm việc trong cửa hàng. Mua sắm hàng tạp hóa cũng thường liên quan đến các chuyến đi đến nhiều cửa hàng chuyên biệt, chẳng hạn như cửa hàng rau quả, thịt, tiệm bánh, cá và đồ khô, ngoài một cửa hàng tổng hợp. Sữa và các mặt hàng có thời hạn sử dụng ngắn được người bán sữa đem đi giao.</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Lịch sử hình thành</h3>
                <div class="history-desc">
                    <div class="year"><p>1975</p></div>
                    <p class="history"> Ngày 16.10.1967, Siêu thị đầu tiên ở Việt Nam khai trương tại Sài Gòn (Siêu thị Nguyễn Du).[8]</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>1993 - 1994</p></div>
                    <p class="history">Mở rộng ra các thành phố lớn trên cả nước: Trong thời kỳ này bắt đầu có sự xuất hiện của các siêu thị ở Hà Nội vào đầu năm 1995.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>1998 đến nay</p></div>
                    <p class="history">
                        Cạnh tranh, đào thải và chuyên nghiệp hơn: Do sự xuất hiện ồ ạt, kinh doanh không bài bản, thiếu kiến thức thương nghiệp và phải cạnh tranh với các hình thức bán lẻ truyền thống như chợ, cửa hàng, hàng rong và cạnh tranh lẫn nhau nên rất nhiều siêu thị đó đã vỡ nợ, phá sản, làm ăn thua lỗ và có nguy cơ phá sản. Những siêu thị còn tồn tại và phát triển là nhờ những nhà quản lý tỉnh táo hơn, có hướng phát triển phù hợp.
                        Tính đến hết năm 2010, cả nước Việt Nam có 571 siêu thị, trong đó 111 siêu thị hạng nhất, 149 siêu thị hạng hai và 311 siêu thị hạng ba. Các siêu thị tập trung tại các tỉnh, thành phố: Thành phố Hồ Chí Minh (142 siêu thị), Hà Nội (74), Đà Nẵng (23), Nghệ An (22).[9]
                    </p>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Tiêu chuẩn Siêu thị Việt Nam</h3>
                <p>
                    Tại Việt Nam, các siêu thị phải ghi bằng tiếng Việt là SIÊU THỊ trước tên thương mại hoặc tên riêng do thương nhân tự đặt và trước các từ địa chỉ danh hay tính chất của Siêu thị. Nếu ghi thêm bằng tiếng nước ngoài, kích cỡ chữ phải nhỏ hơn kích cỡ tên tiếng Việt và phải đặt dưới hoặc sau tiếng Việt.

                    Theo quy định của Bộ Công Thương Việt Nam, siêu thị được phân làm 3 hạng[6]:
                </p>
                <h3><b>Siêu thị hạng I</b></h3>
                <p>Ngoài các tiêu chuẩn về kiến trúc hiện đại, kho hàng, kỹ thuật bảo quản, khu vệ sinh, khu giải trí, các siêu thị kinh doanh tổng hợp phải đảm bảo các tiêu chuẩn cơ bản sau:</p>
                <ul>
                    <li>Có diện tích kinh doanh từ 5.000m² trở lên</li>
                    <li>Có Danh mục hàng hoá kinh doanh từ 20.000 tên hàng trở lên;</li>
                </ul>

                <h3><b>Siêu thị hạng II</b></h3>
                <p>Siêu thị kinh doanh tổng hợp phải đảm bảo các tiêu chuẩn cơ bản sau:</p>
                <ul>
                    <li>Có diện tích kinh doanh từ 2.000m² trở lên;</li>
                    <li>
                        Có Danh mục hàng hoá kinh doanh từ 10.000 tên hàng trở lên;
                    </li>
                </ul>

                <h3><b>Siêu thị hạng III</b></h3>
                <p>Siêu thị kinh doanh tổng hợp phải đảm bảo các tiêu chuẩn cơ bản sau:</p>
                <ul>
                    <li>Có diện tích kinh doanh từ 500m² trở lên;</li>
                    <li>
                        Có Danh mục hàng hoá kinh doanh từ 4.000 tên hàng trở lên;

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
