@model IEnumerable<DACS.Models.Category>

<ul>
    @foreach(var item in Model)
            {
                //<li>@Html.ActionLink(item.NameCategory,"GetProductByCategory/" +item.IdCategory,"Product")</li>
                <li>@Html.ActionLink(item.NameCategory,"Danhmuc1/" +item.IdCategory,"Product")</li>
            }
</ul>
